<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
    <nav class="navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#" hidden>Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </nav>

    <div th:if="${user == null}">
        <a th:href="@{'/user/new/'}" class="btn btn-primary">Add First User</a>
    </div>
    <div th:unless="${user == null}">
        <div class="container text-center">
            <h1 style="text-align: center">List User</h1>
            <div>
                <table class="table text-center">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                    <th>Favorite Movie</th>

                    </thead>
                    <tbody>
                    <th:block th:each="user : ${user}">
                        <tr>
                            <td>[[${user.name}]]</td>
                            <td>[[${user.email}]]</td>
                            <td>[[${user.phone}]]</td>
                            <td>
                                <a th:href="@{'/user/edit/' + ${user.idUser}}" class="btn btn-primary">Edit</a>
                                <a th:href="@{'/user/delete/' + ${user.idUser}}" class="btn btn-danger">Delete</a>
                            </td>
                            <td>
                                <a th:href="@{'/user/favorite/' + ${user.idUser}}" class="btn btn-warning">Recomendation</a>
                            </td>
                        </tr>

                    </th:block>
                    </tbody>
                </table>
            </div>
            <a th:href="@{'/user/new/'}" class="btn btn-primary">Add User</a>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>